os:
- linux
- osx
language: rust
rust:
- stable
- beta
- nightly
script:
- cargo build --release
- make test
matrix:
  allow_failures:
  - rust: nightly
deploy:
  provider: releases
  api_key:
    secure: BED9PrC1LMcjwb0qmMiauE7pJva5XnCRYb6k//5sthXxyP5TMPPzSEv3iOmE+zF7Jm7+pZ1gwenf4be+MLBcTflfrNnN5x8SRmwrRnBbK/zZDeowvne3K/tMpCJSwh6ScysOTNt9nlOPCv84/MLWvDefrcryP06oSGCJAgS/DpeGCVzNYCxwtUnrrmIQY5WAwldvaffy1lYA/uwVZv8VOQQXcI/H+rD8BmQqrl/IstJ4GZudkVHM2NRggjul4xphWe8S7u3WpdHb3q2bavVEnkISNypMiz6DJok4B02nAj6eUTHb4UANo42SrtmC2kWw1JywOjdjVTY5++gA5NiX0uabaS4UJaAnJtZZuWBhFIMhcdjTmZJRU9JgsA7KPtWZXEvbiXQKLvwZH3xBJ/q7NSaHicws95+/gtOgxAyeMl4tODroxiaFxyDNveCOFpXRN30lmuUYdTDdUD6COc/d84xXRXr0xWv9YjnZv37W6qMo8Z5wktgCT18FZ3q9zu4yRDC+UihwRgiy6yCt+WTjPZc6SQWJO1Oe104ZSv9H6KoqMdMea3BA47fBN+aMxsFnpbMlMamOcOFnJ5WsTWTPgpGW6slfpCj5bEZRKyt4ctdAJfLK+jWlf5hBmz9CMN9fWNvH9LHy/wYpJJRVnIzbcuvMrTl8DWEP/wESPe5UDPI=
  file: target/release/qr
