[package]
name = "qrterm"
version = "0.1.0"
authors = ["Lukas Reuter <lukas@bootsmann-games.de>"]

[dependencies]
qrcode = "*"
rustty = "*"
termion = "*"
clap = "2"
image = "*"
#regex = "0.2.*"

[[bin]]
bench = false
path = "src/main.rs"
name = "qr"
